  body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }


  .card{
    width: 30em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(255, 162, 0);
    border: 0.2em solid rgb(83, 41, 3);
    border-radius: 1.5em;
  }

  .card h2, .card p{
    margin: 0;
  }
  .card header, .card footer{
    height: 3em;
    padding: 1em;
  }
  .card header{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }

  .card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  .card header h2{
    font-size: 2em;
    line-height: 1em;
  }

  .card footer p{
    font-size: 1em;
    line-height: 2em;
  }

  .card article{
    height: 12em;
    background-color: bisque;
  }

  .card article img{
    max-height: 12em;
    float: right;
  }

  .card article p{
    padding: 1em;
    float:left;
  }





